<div class="container"">


  <div class="row">

  <div class="col-md-6">
    <h1 style = "font-family: Lucida Handwriting">About me</h1>
  </div>
  
</div>

<div class="row">

  <div class="col-sm-6">
      <p style="font-family: Goudy Old Style; font-size:170%"">Hi! I'm Lynn Yue. I am currectly a master's student in computer science at the University of Chicago. I've been practicing yoga for 6 years and it has become an important part of my life. I hope you enjoy my yoga tips, yoga poses, life inspirations and practice experience!  </p>
  </div>
  <div class="col-sm-6">
  	<img src= 'profile.jpg' alt="Flowers in Chania">
  </div>

</div>
</body>

</div>
