<div class="row">

  <div div class="my-3">
    <img src="https://i.pinimg.com/564x/a2/a4/c2/a2a4c2512265887e7a48373a787a1098.jpg", width="700" height="300">
  </div>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% User.all.order('email').each do |user| %>
        <tr>
          <td><%= user.user_name%></td>
          <td><%= user.email %></td>
          <td>
            <%= link_to "[View]", "/users/#{user.id}" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>